*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
 html,body{
width: 100%;
height: 100%;
}

nav{
   display: flex;
   justify-content: space-around;
   padding: 25px;
   font-size: 18px;
   color: white;
   background-color: rgb(117, 41, 41);
}
nav>p:hover{
    cursor: pointer;
    color:rgb(77, 9, 9);
}
button{
    border: 1px solid white;
    border-radius: px;
    padding: 10px 18px;
    color: white;
    background-color: rgb(77, 35, 6);
}
button:hover{
    cursor: pointer;
    background-color: brown;
}
.content{
    padding: 10%;
    background-color: rgb(101, 15, 15);
    display: flex;
    position: relative;

}
.left h1 {
    font-size: 60px;
    color: white;
}
.left p{
    font-size: 20px;
    padding-top: 20px;
    color: white;
}
.shop{
    margin-top: 20px;
    background-color: rgb(209, 160, 160);
    border: none;
    color: black;
} 
.right{
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    gap: 20px;
    
}
.right img{
    position: absolute;
    height: 60%;
    display: flex;
    margin-left: 25%;
    border-radius: 10px;
}
